/*
SIN FLEXBOX: 
Colores
    Background: #333

    Tarjetas
        Orange: hsl(31, 77%, 52%)
        Cyan: hsl(184, 100%, 22%)
        Dark cyan: hsl(179, 100%, 13%)
    
    Texto
        Blanco al 0.75 de opacidad

Fuentes de la página
    Títulos
        https://fonts.google.com/specimen/Big+Shoulders+Display
        Estilo 600
    Textos
        https://fonts.google.com/specimen/Lexend+Deca
        Estilo 400

        font-family: 'Big Shoulders Display', cursive;
        font-family: 'Lexend Deca', sans-serif;
*/

*{
    margin: 0;
}

body {
  background-color: #333;
  color: rgb(255 255 255 / .75);
  box-sizing: border-box;
}

/* 
- Posiciono relativamente el contenedor principal, para que al momento de posicionar cada card interna, lo haga con respecto a su contenedor. 
- Bajo el contenedor con top.
- Y con text-align: center, muevo el contenido del contenedor al centro.
*/

.container{
    position: relative;
    top: 125px;
    text-align: center;
    font-size: 0;
}

/* 
- Con la propiedad display, cambio el contexto del elemento card. Lo cambio de elemento de bloque a elemento inline-block, con la finalidad de situar cada tarjeta una al lado de la otra pero que me permita agregarle width.
*/

.card{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 350px;
}

/* 
- Proceso a agregarle estilo a cada card.
*/

.card--orange{
    background-color: hsl(31, 77%, 52%);
}

.card--cyan{
    background-color: hsl(184, 100%, 22%);
}

.card--dark-cyan{
    background-color: hsl(179, 100%, 13%);
}

/* 
ICONO:
- Le doy position absolute. Para que se mueva con respecto a su contenedor que ya esta posicionado.
- Cambio su ancho, ya que perdio sus medidas.
- Lo ubico con top y left.
*/
.card__logo{
    position: absolute;
    width: 40px;
    top: 35px;
    left: 25px;
}

/* 
H1: 
- Le doy position absolute. Para que se mueva con respecto a su contenedor que ya esta posicionado.
- Lo ubico con top y left.
*/
.card__title{
    position: absolute;
    top: 100px;
    left: 25px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.8rem;
}

/* 
PARRAFO: 
- Le doy position absolute. Para que se mueva con respecto a su contenedor que ya esta posicionado.
- Lo ubico con top y left.
- Padding right para separar un poco las letras del borde derecho.
- Agrego fuentes con su tamano.
- Text-align: left, para ajustar el texto a la izquierda.
*/
.card__text{
    position: absolute;
    top: 150px;
    left: 25px;
    padding-right: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: .7rem;
    text-align: left;
}

/* 
ENLACE: 
- Le doy position absolute. Para que se mueva con respecto a su contenedor que ya esta posicionado.
- Lo ubico con bottom y left.
- Agrego la fuente y el tamano de la fuente.
- Elimino la linea.
- Le doy bgc.
- Padding para darle forma de boton.
- border radius, para redondear los bordes.
- Color: 
*/
.card__buttom{
    position: absolute;
    bottom: 35px;
    left: 25px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: .7rem;
    text-decoration: none;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 30px;
}

.card__buttom--orange{
    color: hsl(31, 77%, 52%);
}

.card__buttom--cyan{
    color:hsl(184, 100%, 22%);
}

.card__buttom--dark-cyan{
    color: hsl(179, 100%, 13%);

}

/* 
DORIAN: 
- PROBLEMA DEL MARGEN HORIZONTAL, SOLUCION SIN FLEXBOX (truco): Al padre, le doy un font-size: 0. Y a cada tarjeta le asigno un font-size respectivo, para no perder el texto.

- Ejecuto distinto los estilos, pero el mio esta ok.
*/